nav div button {
    margin: 3rem;
    background-color: rgb(29, 107, 131);
    color: rgb(255, 255, 255);
}  

nav h2 {
    color:  rgb(29, 107, 131);
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
}
